* {margin:0;padding:0;vertical-align:middle;box-sizing:border-box;text-size-adjust:100%;}
html {overflow-y:scroll;overflow-X:hidden;}
html, body {width:100%;height:100%;}
body {font:normal 14px/1 'Montserrat','Roboto', 'arial';color:#555;background:#f7f7f7;}
ul,li {list-style:none;}
a {text-decoration:none;color:#555;}
h1,h2,h3,h4,h5,h6 {font-size:14px;font-weight:400;}
em,i,address {font-style:normal;}
.blind {display:block;text-indent:-2000px;overflow:hidden;}
header, main, footer, nav, aside, article, section {display:block;}